.button {
    background-color: black;
    border: none;
    color: white;
    padding: 8pt 14pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
    border-radius: 2pt;
    transition: 1s;
}

.button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.goBackButton {
    font-size: xx-large;
}