html {
  height: 100%;
  width: 100%;
  background-size: cover;

}

body {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../Assets/Backdrop3.jpg");
}

.image {
  height: 200px;
  width: auto;
}

footer {
  background-color: white;
  text-align: center;
  font-size: 15pt;
}

.box {
  position: relative;
  width: 60%;
  height: 200px;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  display: inline-block;
  overflow: x;
  margin-left:50pt;
}

.box2 {
  position: relative;
  width: 200px;
  height: 300px;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  float: left;
}

.Imageoverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  align-items: center;
  opacity: 0;
  border-radius: 10%;
}

.tablaoverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Assets/Cat2.gif");
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
}

.Imageoverlay:hover {
  opacity: 0.8;
  transform:scale(1.5);
  z-index: 1;
}

.tablaoverlay:hover {
  opacity: 0.8;
  transform:scale(1.5);
  z-index: 1;
}

.mainBox {
  padding: 5pt;
}

.subBox {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5pt;
  overflow-x: hidden;
  overflow-y: hidden;


  /* for Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* for Firefox */
  scrollbar-width: none;
}

.text {
  text-align: center;
  color: white;
  padding-top: 40pt;
}

h3 {
  border-style: solid;
  background-color: whitesmoke;
  font-size: 20px;
  width: 20%;
  padding-left: 10pt;
  color: black;
}



.paddown {
  padding-bottom: 60pt;
}

.paddRight {
  padding-right: 10pt;
}
.paddLeft{
  padding-left: 20pt;
}

.buttoncss {
  padding: 10pt;
  background-color: pink;
  font-size: 20pt;
  margin-left: 80%;
}
.description{
  font-size: 8pt;
  color: aliceblue;
}
.hidden{
  top:0;
  bottom: 0;
  right:0;
  left:0;
  position: fixed;
  width: 70%;
  height: 70%;
  margin:auto;
  background-color: white;
  z-index: -1;
  border: black;
  border-color: black;
  background-color:#fff;
  border-style: groove;
  
}
.hidden img{
 height: 300pt;
}
.backButton{
  font-size: 8pt;
  padding: 2pt;
  position:relative;
  padding:20pt;
  font-size:15pt
}
