.logo{
    float: left;
    padding-top: 0.6%;
    padding-left: 0.8%;
    border: 0.4%;
    border-radius: 0.4%;
}

.navbar{
    z-index: 500;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top:0;
    width:100%;
    font-size: 1.5vw;
    
}

.linkalign a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15pt 45pt;
    display: block; 
}


.linkalign a:hover{
    color:rgb(25, 26, 27) ;
    background-color: rgba(4,9,30,0.7);
}

.linkalign ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
   
    
}

.linkalign li{
    list-style: none;
    display:inline-block;
}
.dp{
    display: block;
    width: 15%;
    height: 15%;
    margin:auto;
}
.paddown{
    padding-bottom: 100pt;
  }
h4{
      text-align:center;
  }
footer{
    background-color: white;
    color: black;
}
.icon{
    width: 20pt;
    height: 20pt;
}
.iconbar{
    display: inline;
}