
.dp {
    display: block;
    width: 15%;
    height: 15%;
    margin: auto;
}

.paddown {
    padding-bottom: 100pt;
}

h4 {
    text-align: center;
}

footer {
    background-color: white;
    color: black;
}

.icon {
    width: 20pt;
    height: 20pt;
}

.iconbar {
    display: inline;
}